<style>

  .about__image {
    border-radius: 6px;
    width: 40%;
  }
</style>

<div>
  <h2>O Сайте</h2>

  <img class="about__image" src="https://avatars.mds.yandex.net/i?id=2a218300f9a6181992eb2251475c4d53_l-5147227-images-thumbs&n=13" alt="">

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur provident quam in veniam placeat libero molestiae? Repudiandae est laboriosam ratione exercitationem facilis ut consequuntur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero nulla earum itaque explicabo natus soluta veritatis quia eveniet, velit minus. Mollitia unde deleniti repellat magni placeat minus laboriosam velit inventore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est molestias porro sunt id fugiat veniam nisi consectetur quos atque! Ullam esse suscipit, quasi doloremque eveniet illo velit consectetur nihil ex.</p>
</div>
